<div class="clima">
  <div class="busqueda">
    <input #lugar
      placeholder="Ingrese un lugar"
      (keyup.enter)="buscarClima(lugar.value); lugar.value = ''"
      class="lugar" />
      <select>
        <option>Ingrese país</option>
        <option *ngFor>Peru</option>
      </select>
  </div>
  <div>
    <div class="detalle">
      <span>{{ciudad}}</span>
      <div>
        <img [src]="imagen" />
        <br>
        <span>{{descripcion}}</span>
      </div>
      <div>
        <span>{{temperatura}}</span>
      </div>
    </div>
    <div class="detalle2">
      <span>Velocidad del viento: {{viento}}m/s</span>
    </div>
  </div>
</div>
