.clima {
  background-color: rgba(20, 153, 255, 0.6);
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;

  .busqueda {
    padding: 10px;

    .lugar {
      width: 100%;
      box-sizing: border-box;
    }
  }

  .detalle {
    text-align: center;
  }

  .detalle2 {
    padding-left: 10px;
  }
}
